*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #fcf3e4;
}
.container{
    display: flex;
    width: 80vw;
   
}

.pannel{
    height: 80vh;
    margin:10px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    color: #ffffff;
    flex: 0.5;
    transition: flex 0.7s ease-in;
    cursor: pointer;

}

.pannel h3{
    
    font-size: 24px;
    position:absolute;
    bottom:20px;
    left:20px;
    margin : 0;
    opacity: 0;

}

.pannel.active{
flex: 5;


}
.pannel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.5s;
}

@media (max-width: 560px) {
    .container{
        width: 100vw;
    }

    .pannel :nth-of-type(4),
    .pannel :nth-of-type(5){
        display: none;
    }
}